section {

    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100%;

}

.nameandsec{

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.desc{

    margin-top: -4%;
    color: black;
    
}   

.suge{

    display: flex;
    text-align: right;
    
    
    color: white;
    

}




    
