section{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    margin-left: 25%;
}

img{

        min-width: 6%;
        max-width: 6%;
        min-height: 6%;
        max-height: 6%;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-family: 'Fjalla One', sans-serif;
    font-size: 150%;


}

@media screen and (max-width: 400px){

    section{

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2%;
        width: 100px;
        display: none;
    }    

    
  }