
.feat{
    position: fixed;
    height: 100%;
    border-right: 0.0625em solid  #e6ecf0;
    width: 25%;
}

h1{
    font-size: 260%;
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
}
.downbar{
  display: none;
}

.main{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -100%;
}
.searchbar{
  display: none;
}

.gpost{
    position: relative;
    left: 35%;
}
.side
{
    height: 100%;
    position: fixed;
    left: 75%;
    border-left: 0.0625em solid  #e6ecf0;
    padding-left: 1%;   
}

h3{

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.701);
    position: relative;
    font-family: 'Medula One', cursive;
    font-size: 200%;

}


  @media (max-width: 767px) {
    .feat {
      display: none;
    }
  
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .gpost {
      position: relative;
      left: 0;
    }
  
    .side {
      display: none;
    }
    .downbar{
      display:block;
      display: flex;
    }
  }

@media screen and (max-width: 400px){

    .feat{

        margin-top: 1%;
        position: fixed;
        display: none;
    }
    
  }
