body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #931EB4;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.125em auto;
  max-width: 37.5em;
  width: 90%;
  background-color: #f5f5f5;
  border-radius: 0.615em;
  box-shadow: 0 0.125em 0.313em rgba(0, 0, 0, 0.3);
  border-right: 0.0625em solid  #e6ecf0;
  border-left: 0.0625em solid  #e6ecf0;
  font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 400px) {
  .post-container {
    max-width: 50em;
  }
}

.user-info {
  display: flex;
  align-items: center;
  padding: 1.25em;
}

.user-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  border:green solid 0.325em;
}

@media (max-width: 576px) {
  .user-info img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.user-text {
  display: flex;
  flex-direction: column;
}

.user-text h2 {
  margin: 0;
  font-size: 28px;
  color: #931EB4;
}
.user-text h2:hover {
  color:rgba(56, 0, 108, 0.693);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .user-text h2 {
    font-size: 24px;
  }
}

.user-text p {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 576px) {
  .user-text p {
    font-size: 16px;
  }
}

.post-image {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 576px) {
  .post-image {
    max-width: 400px;
  }
}

.post-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.post-buttons button {
  padding: 10px;
  margin: 0 10px;
  background-color: #27abab;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-buttons button:hover {
  background-color: #12c2bf;
}

@media (max-width: 576px) {
  .post-buttons button {
    padding: 8px;
    margin: 0 5px;
    font-size: 14px;
  }
}

::-webkit-scrollbar{
  overflow-y: none;
}