 .search-container {
  width: 1000px;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100%;
  font-family: 'Fjalla One', sans-serif;

}

input{
  margin-top: 10%;
  width: 150%;
  max-width: 200%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #811DA1;
  color: white;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  background-image: url('../../../src/pics/search.png'); 
  background-position: -10px center;
  background-repeat: no-repeat; 
  background-size: 60px 35px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 150%;

}
input[type="text"] {
  color: white;
}

@media screen and (max-width: 768px) {
  input[type="text"] {
    max-width: 50%;
  }
  .search-container {
    width: 100%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    padding: 10px 10px 10px 50px;
    font-size: 14px;
  }
} 