<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./downbar.css">
    <title>Document</title>
</head>
<body>
    <section class="downbar">
    </section>
    <img class = "icon1" src="../../pics/user.png" alt="">
    <img class = "icon2" src="../../../src/pics/random.png" alt="">
    <h1 class="icon3">XP</h1>
</body>
</html>