input {
  width: 100%;
  max-width: 180px;
  height: 25px;
  padding: 12px;
  margin: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  
}

input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

input:active {
  transform: scale(0.95);
}

input:focus {
  border: 2px solid grey;
}
label{
  font-size: 25px;
  
  font-family: 'Fjalla One', sans-serif;
  
}

button {
font-size: 17px;
padding: 0.5em 2em;
border: transparent;
box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
background: #811DA1;
color: white;
border-radius: 4px;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 35px;


}

button:hover {
background: rgb(124, 3, 172);
background: linear-gradient(90deg, #811DA1 0%, rgba(811DA1) 100%);
}

button:active {
transform: translate(0em, 0.2em);
}